h1{
  padding:25px;
}
a{
  color:#2196F3;
  font-size:25px;
}
p{
  font-size:25px;
}
ul li{
 font-size:25px;
}
body{
  font-family: Arial;
  margin: 0;
}
.content{
  padding:30px;
}
.footer{
  padding:40px;
  text-align:center;
  background-color:#BDBDBD;
}
.link{
  color:#2196F3;
  font-size:35;
  font-weight:bold;
}
.screenshot { 
  width:100%; 
  height:100%; 
} 
.header{
    padding:43px;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    color:#FFFFFF;
    font-size:40px;
    text-align:center;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
#button{
  background-color:#2196F3;
  text-align:center;
  color:#FFFFFF;
  border-radius: 25px;
  padding:10px;
}
