div.gallery {
  margin: 60px;
  border: 1px solid #ccc;
  float:left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size:35px;
  font-family: Arial;
  font-weight:bold;
}
